body {
  margin: 20px auto;
  width: 1050px;
  background: rgb(92, 84, 84);
}
header {
  display: flex;
  color: rgb(255, 255, 2);
}
#logo {
  background: #fff;
  color: black;
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  cursor: pointer;
}
#header_text {
  margin-left: 20px;
}
#header_text > p {
  padding: 0;
  margin: 5px 0 0 2px;
}
#header_text > p:last-child {
  font-size: 0.8em;
}
#welcome {
  font-size: 2em;
  font-style: italic;
}
main {
  margin-top: 15px;
}
#left_section {
  color: orange;
  background: black;
  float: left;
    width: 180px;
    
}
ul > li {
  list-style: none;
    padding: 7px 0 7px 0;
    margin-left: -10px;
    
}
li > a {
  text-decoration: none;
  color: orangered;
}
#centre{
    background-color: greenyellow;
    padding: 10px;
    margin-left: 200px;
    width: 570px;
}
#centre > h3{
    margin: 5px 0 10px 0;
    font-weight: 1;
    
}
#right_section{
    float: right;
    margin-top: -400px;
    background: purple;
    padding: 10px;
}
#right_section > p{
    color: yellow;
}
#right_section > ol{
    color: yellow
}
#right_section > ul{
    list-style-type: square;
    color: yellow;
}
#center_in_center{
    background: white;
    padding: 10px 70px;
}
footer{
    color: yellowgreen
}
footer strong{
    cursor: pointer;
}











































